*{
	padding: 0px;
	margin: 0px;
	text-align: center;
	background: #ccc;
}

.center{
	display:table;
	margin:auto;
}

h1{
	margin-top: 5rem;
}

img{
	background-repeat: no-repeat;
}

a{
	color: gray;
}
